{% extends 'base.html' %}
{% block content %}
<div class="px-32 py-8">
<h2 class="text-xl font-bold mb-4">Book a Lesson with {{ teacher.get_full_name }}</h2>
<div id="calendar" class="mb-8"></div>

<div id="booking-form" class="hidden fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
  <form method="post" class="bg-gray-600 p-6 w-[600px] h-auto rounded-lg shadow-lg flex flex-col justify-between">
    <div class="mb-6 text-2xl whitespace-nowrap">Lesson with <span class="underline">{{ teacher.get_full_name }}</span>
</div>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="selected_date" id="selected-date">
    <input type="hidden" name="selected_time" id="selected-time">
    <p id="price-display" class="mt-4 text-xl text-white">Final Price: <span id="final-price">0.00</span> zł</p>
    <button type="submit" class="bg-yellow-500 hover:bg-green-500 text-black text-3xl px-4 py-2 border-black rounded mt-8">Book Lesson</button>
  </form>
</div>


<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css' rel='stylesheet'/>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js '></script>
</div>

<script>
 document.addEventListener('DOMContentLoaded', function () {
    const calendarEl = document.getElementById('calendar');
    const calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'timeGridWeek',
        allDaySlot: false,
        slotMinTime: '00:00:00',
        slotMaxTime: '24:00:00',
        height: 'auto',
        events: {
            url: "{% url 'lesson_calendar_json' %}",
            extraParams: { teacher_id: "{{ teacher.id }}" }
        },
        dateClick: function(info) {
        },
        eventClick: function(info) {
            if (info.event.display === 'background' && info.event.backgroundColor === '#28a745') {
                const start = new Date(info.event.start);
                const date = start.toISOString().split("T")[0];
                const time = start.toTimeString().split(" ")[0].slice(0,5);

                document.getElementById("selected-date").value = date;
                document.getElementById("selected-time").value = time;

                const dateInput = document.querySelector('input[name="date"]');
                const timeInput = document.querySelector('input[name="time"]');
                if (dateInput) dateInput.value = date;
                if (timeInput) timeInput.value = time;

                // Show form
                document.getElementById("booking-form").classList.remove("hidden");
                document.getElementById("booking-form").scrollIntoView({ behavior: "smooth" });
            } else {
                alert("Cannot book a lesson in an unavailable time slot.");
            }
        },
        selectable: true,
        select: function(info) {
            const start = new Date(info.start);
            const end = new Date(info.end);
            
            const duration = (end - start) / (1000 * 60);
            if (duration < 30) {
                alert("Please select at least 30 minutes for a lesson.");
                calendar.unselect();
                return;
            }

            const date = start.toISOString().split("T")[0];
            const time = start.toTimeString().split(" ")[0].slice(0,5);

            // Automaticly fill date and time
            document.getElementById("selected-date").value = date;
            document.getElementById("selected-time").value = time;

            const dateInput = document.querySelector('input[name="date"]');
            const timeInput = document.querySelector('input[name="time"]');
            if (dateInput) dateInput.value = date;
            if (timeInput) timeInput.value = time;

            // Show form
            document.getElementById("booking-form").classList.remove("hidden");
            document.getElementById("booking-form").scrollIntoView({ behavior: "smooth" });

            calendar.unselect();
        }
    });

    calendar.render();
  });
</script>
<script>
  const pricePerMinute = parseFloat("{{ price_individual }}");
  const durationField = document.querySelector('#id_duration_minutes');
  const finalPriceSpan = document.getElementById('final-price');

  function calculatePrice() {
    const duration = parseInt(durationField.value);
    if (!isNaN(duration)) {
      const price = pricePerMinute * duration;
      finalPriceSpan.textContent = price.toFixed(2);
    } else {
      finalPriceSpan.textContent = "0.00";
    }
  }

  durationField.addEventListener('change', calculatePrice);
  window.addEventListener('DOMContentLoaded', calculatePrice);
</script>
{% endblock %}

