{% extends "base.html" %}

{% block title %}Registration_extra{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-900 text-gray-100 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8 bg-gray-800 p-8 rounded-xl shadow-lg">
    <h2 class="mt-6 text-center text-3xl font-extrabold">Last step</h2>

    <form method="post" class="space-y-6">
      {% csrf_token %}
      {{ form.as_p }}

      <div>
        <button type="submit" class="w-full py-2 px-4 bg-gray-600 hover:bg-gray-700 text-white font-bold rounded">
          Register
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
