{% load static tailwind_tags %}

<nav class="flex items-center justify-between py-4 border-b border-gray-700">
  <div class="flex">
    <div class="text-lg flex">
      <a href="/"><img src="{% static 'urlesson.png' %}" class="w-64 h-[auto] -mb-16 -mt-8" alt="urlesson"></a>
    </div>
    <a href="{% url 'user_list' 'teacher' %}" class="hover:underline ml-8 px-4 py-8 text-2xl">Users</a>
  </div>

  <div class="flex text-2xl">
    {% if user.is_authenticated %}
      <a href="{% url 'profile' %}" class="hover:underline px-4">My Profile</a>
      <a href="{% url 'logout' %}" class="hover:underline px-4">Logout</a>
    {% else %}
      <a href="{% url 'login' %}" class="hover:underline px-4">Login</a>
      <a href="{% url 'register' %}" class="hover:underline">Register</a>
    {% endif %}
  </div>
</nav>
